.notification {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #ffc107;
  border-radius: 5px;
  background-color: #fff;

  &Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 60px;
    height: 60px;
    font-size: 50px;
    line-height: 1.2;
    border-radius: 50%;
    border: 1px solid #ffc107;
  }

  &Text {
    font-size: 14px;
    line-height: 1.2;
  }
}

.notification p {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }
}
