.userSection {
  &SignIn {
    padding: 3px 26px 4px;
    font-size: 18px;
    color: inherit;
  }

  &SignUp {
    padding: 7px 17px 7px;
    font-size: 18px;
    line-height: 1.9;
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }
}
