.userForm {
  max-width: 385px;
  margin: 60px auto;
  padding: 48px 32px;
  font-family: Roboto, sans-serif;
  color: #262626;
  border-radius: 6px;
  border: 1px solid#D9D9D9;
  background: #fff;
  box-shadow:
    0px 0.609px 2.933px 0px rgba(0, 0, 0, 0.02),
    0px 1.463px 7.049px 0px rgba(0, 0, 0, 0.03),
    0px 2.755px 13.273px 0px rgba(0, 0, 0, 0.04),
    0px 4.914px 23.676px 0px rgba(0, 0, 0, 0.04),
    0px 9.191px 44.284px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);

  &Title {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
  }

  &Label {
    display: block;
    margin-bottom: 12px;
  }

  &InputName {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 1.57;
  }

  &Input {
    width: 100%;
    padding: 7px 11px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    &Error,
    &Error:focus {
      border-color: red;
      outline: 1px solid red;
    }
  }

  &Line {
    height: 1px;
    margin: 21px 0 8px;
    background: #e8e8e8;
  }

  &InputWrapper {
    margin-bottom: 21px;
  }

  &Concent {
    display: flex;
  }

  &ConcentCheckbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: 3px;
    flex-shrink: 0;
    background-color: #1890ff;
  }

  &ConcentText {
    font-size: 14px;
    line-height: 1.57;
  }

  &Btn {
    width: 100%;
    margin-top: 9px;
    margin-bottom: 8px;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
    background: #1890ff;
    border: 0;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &Info {
    color: #8c8c8c;
    line-height: 1.67;
    text-align: center;
  }

  &Link {
    color: #1890ff;
  }

  &ErrorMessage {
    margin: 2px 0 0;
    color: #f5222d;
    font-size: 14px;
    line-height: 1.57;
  }
}
