.userSection {
  &CreateArticle {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #52c41a;
    font-size: 14px;
    line-height: 1.57;
    color: #52c41a;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &ProfileLink {
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &UserName {
    margin-right: 13px;
    font-size: 18px;
    line-height: 1.55;
    color: rgba(0, 0, 0, 0.85);
  }

  &LogoutBtn {
    padding: 8px 18px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: transparent;
    font-size: 18px;
    line-height: 1.55;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
