.article-full .article__text {
  color: rgba(0, 0, 0, 0.50)
}

.article-full .article {
  box-shadow: none;
}

.article-full {
  margin-top: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__content {
    margin-top: 5px;
    padding: 0 40px 100px 20px;

    & h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
    }

    & h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }

    & p {
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 22px;
    }
  }

}

.article__edit-btns {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
}

.article__edit-btn {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 1.57;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.article__edit-btn--del {
  border-color: #F5222D;
  color: #F5222D;
}

.article__edit-btn--edit {
  border-color: #52C41A;
  color: #52C41A;
}