.newArticle {
  font-family: "Roboto", sans-serif;
  margin-top: 34px;
  padding: 48px 32px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid var(--Grey-grey-5, #D9D9D9);
  box-shadow: 0px 0.609px 2.933px 0px rgba(0, 0, 0, 0.02), 0px 1.463px 7.049px 0px rgba(0, 0, 0, 0.03), 0px 2.755px 13.273px 0px rgba(0, 0, 0, 0.04), 0px 4.914px 23.676px 0px rgba(0, 0, 0, 0.04), 0px 9.191px 44.284px 0px rgba(0, 0, 0, 0.05), 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.title {
  margin: 0 0 21px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 21px;
}

.input {
  width: 100%;
  padding: 7px 11px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  font-size: 16px;
  line-height: 1.5;
}

.inputName {
  font-size: 14px;
  line-height: 1.57;
}

.textarea {
  height: 165px;
  resize: none;
}

.field+.field {
  margin-top: 5px;
}

.tagsBlock {
  display: flex;
  align-items: flex-end;
  margin-bottom: 21px;
}

.tagsInput {
  width: 300px;
  margin-right: 18px;
  padding: 7px 11px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  background: #FFF;
}

.btnDelete {
  height: 100%;
  margin-right: 18px;
  padding: 7px 35px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: #F5222D;
  border-radius: 4px;
  border: 1px solid #F5222D;
  background-color: #fff;
  cursor: pointer;
}

.btnAdd {
  height: 100%;
  padding: 7px 35px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: #1890FF;
  border-radius: 4px;
  border: 1px solid #1890FF;
  background-color: #fff;
  cursor: pointer;

}

.submit {
  width: 320px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background: #1890FF;
  cursor: pointer;
}

.errorMessage {
  margin: 2px 0 0;
  color: #F5222D;
  font-size: 14px;
  line-height: 1.57;
}

.error,
.error:focus {
  border-color: red;
  outline: 1px solid red;
}