.likes {
  line-height: 28px;
  padding-left: 21px;
  background-image: url('../../images/icon-likes.svg');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.likesRed {
  background-image: url('../../images/icon-red-lakes.svg');
}
