.articles {
  margin-bottom: 20px;

  &List {
    list-style: none;
    padding: 0;
    margin: 26px 0;
  }

  &Item {
    margin-bottom: 26px;
  }

  &Pagination {
    text-align: center;

    & .ant-pagination-item-active {
      background-color: #1890ff;

      & a {
        color: #fff;
      }
    }
  }

  &Spin {
    display: flex;
    justify-content: center;
  }
}
