@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 480px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.83;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  background-color: #EBEEF3;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}